<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Details</title>
</head>
<body>

<h1>Book</h1>
<p>Title of Book :{{ b.title }}</p>
<p>Publication date : {{ b.publicationDate | date('Y-m-d') }}</p>
<p>Author : {{ b.author.username }}</p>
</body>
</html>